DATABASE_URI=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
JWT_SECRET=
DOCS_PASSWORD=

SMS_URL=https://notify.eskiz.uz
SMS_EMAIL=
SMS_PASSWORD=
SMS_FROM=4546
SMS_CALLBACK_URL=

PAYCOM_USERNAME_ID=Paycom
PAYCOM_MERCHANT_ID=
PAYCOM_API_KEY=
PAYCOM_TEST_API_KEY=
PAYCOM_CHECKOUT_URL=https://checkout.paycom.uz
PAYCOM_CHECKOUT_REDIRECT_URL=
